Appointment_Remainder_Voice_AI_Agent.json
{
  "name": "Appointment Remainder Voice AI Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        192
      ],
      "id": "eb3aea50-3239-464c-b0af-688c3a751c52",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Appointment Remainder VOICE AI Agent",
        "height": 80,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "873faf72-10bc-4324-8774-12de1441f541",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aisaasdeveloper@gmail.com",
          "mode": "list",
          "cachedResultName": "aisaasdeveloper@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -48,
        192
      ],
      "id": "4705cb2d-d5fe-40b0-96f7-85ee0ee99ed8",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "D1AA9CtPKMZPvf43",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Appointment Description: {{ $json.description }}\n\nStart Time: {{ $json.start.dateTime }}\n\nEnd Time: {{ $json.end.dateTime }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant. Generate a structured JSON object with the following fiel\n\nname: Full name of the recipient\n\nphone_number: Phone number as a string\n\nreason: Reason for the appointment\n\nstart_time: Start time in ISO 8601 date-time format\n\nend_time: End time in ISO 8601 date-time format\n\nemail: Email address of the recipient\n\nReturn the output only in valid JSON format. Do not include any additional text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        192,
        192
      ],
      "id": "d602892d-bca2-42f6-8106-ee1e44d32452",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        400
      ],
      "id": "ebb504c4-1e15-4142-ba54-49b32a36cc85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1VMKjiSJqADW5yc4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+15415340942\",\n  \"to_number\": \"{{ $json.output.phone_number }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"name\": \"{{ $json.output.name }}\",\n    \"phone_number\": \"{{ $json.output.phone_number }}\",\n    \"reason\": \"{{ $json.output.reason }}\",\n    \"start_time\": \"{{ $json.output.start_time }}\",\n    \"end_time\": \"{{ $json.output.end_time }}\"\n  },\n  \"override_agent_id\": \"agent_3f74e1440282e10a0523224596\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        192
      ],
      "id": "974e56d5-8dc8-4325-8e82-1f12c6eb37b3",
      "name": "HTTP Request",
      "credentials": {
        "httpCustomAuth": {
          "id": "WZ8aa7xolAOn9ts5",
          "name": "Retell-AI-Remainder"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        \"phone_number\": {\n          \"type\": \"string\"\n        },\n        \"reason\": {\n          \"type\": \"string\"\n        },\n        \"start_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        },\n        \"end_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        }\n      },\n      \"required\": [\n        \"name\",\n        \"email\",\n        \"phone_number\",\n        \"reason\",\n        \"start_time\",\n        \"end_time\"\n      ]\n    }\n  },\n  \"required\": [\n    \"output\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        368,
        400
      ],
      "id": "d9100ca6-d503-4fd9-b3d1-d2b4af6df11a",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "25578ae1-45b0-49da-a45a-57102a34d107",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f21aaf8491157c44331f10f943768229b6695aa90fd86fc40ddb60f0a283c31"
  },
  "nodeGroups": [],
  "id": "6t3qFkt2PZp0RbKn",
  "tags": [
    {
      "updatedAt": "2025-06-05T06:58:59.412Z",
      "createdAt": "2025-06-05T06:58:59.412Z",
      "id": "Ba1Vyb7BJb8L5WK7",
      "name": "ET"
    },
    {
      "updatedAt": "2025-06-05T06:58:59.444Z",
      "createdAt": "2025-06-05T06:58:59.444Z",
      "id": "IkoJWBxO2KOLpNNX",
      "name": "From POC sheet"
    },
    {
      "updatedAt": "2025-06-05T14:18:39.974Z",
      "createdAt": "2025-06-05T14:18:39.974Z",
      "id": "hJbnykuhbMGxOCdR",
      "name": "Cr Remains"
    }
  ]
}